table {
     border: 3px solid black;
     border-spacing: 5px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

td:hover {
	border: 3px solid black;
	padding: 8px;
	background-color: blue;
}

body {
    font-family: 'Oswald', sans-serif;
}

.title {
    padding-top: 100px;
}

.title_main {
    font-size: 32px;
    text-align: center;
}

.tittle_text {
    font-size: 20px;
    text-align: center;
}

/*Блок обратной связи*/

.feedback {
    background-color: #8B4513;
    color: #ffffff;
}

.blue{
    color: #fff;
}

.form_input{
    background:#fff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 15px 0;
    margin-right: 21px;
    border: 0;
    outline: none;
}
.title__text {
    text-align: center;
}

.button {
  font-family: 'PT Sans', sans-serif; 
  background:#000;
  color: #fff;
  text-transform:  uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 126px;
  border: 0;
  padding: 15px 0;
  cursor: pointer;
}

.footer {
    background: #8B4513;
}

.footer_info {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 50px 0 94px;
    width: 104px;
    margin: 0 auto;
}

@media screen and (max-width: 992px)
/* Футер*/

.footer {

background: #000;

}

.footer_info {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 50px 0 94px;
    width: 184px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .button {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}
