/*table {
     border: 3px solid black;
     border-spacing: 5px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

td:hover {
	border: 3px solid black;
	padding: 8px;
	background-color: blue;
}*/

/*Осн.стили для всех блоков*/

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #f7daa1;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

/*Панель навигации*/

.search {
    width: 250px;
    justify-content: flex-end;
}

#search {
    width: 80px;
    margin-right: 5px;
/*    margin-right: 30px;*/
}

#searchbutton {
/*    margin-right: 30px;*/
}

/* 1 экран */

.header {
    background-image: url(https://farm1.staticflickr.com/838/43266087331_0bd482f46f_b.jpg)  ;
    background-repeat: no-repeat;
    background-size: 100% ; 
    padding-bottom: 105px;
}

.menu {
    margin-top:8px;
}

.menu__item {
    margin: 0 57px;
}

.menu__item a {
    font-size:22px;
    font-weight:700;
    color: #FFFFFF;
}

.offer{
    margin-top: 30px;
}

.offer__title {
    font-size:32px;
    color: #FFF;
    margin-bottom: 15px;
    text-shadow: black 2px 3px 4px
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
    color: #FFF;
    text-shadow: black 2px 3px 4px
}

.offer__text {
    font-size: 16px;
    margin-top:15px;
    color: #FFF;
    width: 400px;
    text-shadow: black 2px 3px 4px;
}

.icons__item {
    margin-right:30px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease; /* плавная анимация*/
}

.icons__item a:hover {
    text-decoration: none;
    color: #ff4800;
}  /* анимация при наведении на иконки*/

body {
    font-family: 'Oswald', sans-serif;
}

.title {
/*    padding-top: 100px;*/
    padding-bottom: 25px;
}

.title_main {
    font-size: 32px;
    text-align: center;
}

.title_text {
    font-size: 20px;
    text-align: center;
}


/*Инфоблоки*/
.feature {
    margin-bottom: 65px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000
}

.feature__text {
    color: #000
}

/*Блок обратной связи*/

.feedback {
    background-color: #D2691E;
    color: #000;
}

.blue{
    color: #fff;
}

.form_input{
    background:#fff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 15px 0;
    margin-right: 21px;
    border: 0;
    outline: none;
}
.title__text {
    text-align: center;
}

.button {
  font-family: 'PT Sans', sans-serif; 
  background:#000;
  color: #fff;
  text-transform:  uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 126px;
  border: 0;
  padding: 15px 0;
  cursor: pointer;
}

@media screen and (max-width: 992px);

.footer {
    background: #D2691E;
}

.footer-info {
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 50px 0 94px;
    width: 184px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .button {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}

#address {
    margin-top:10px;
}

#button {
    margin-top: 10px;
}

#yavahue{
    text-shadow: black 2px 3px 4px
}